* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url('assets/bg-image.png');
  background-size: cover;
  background-color: #573A37;
  
  min-height: 100vh; 
}

#page {
  
  width: 90%; 
  max-width: 800px; 
  
  padding: 40px; 
  background-color: #F0E8C2;
  border-radius: 24px;
  
  
  margin: 48px auto 28px; 
}

img {
  border-radius: 16px;
  
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

main {
  
  padding: 0; 
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  line-height: 140%;
  font-size: 40px;
  color: #291B1A;
  margin-bottom: 16px; 
}

h2 {
  font-size: 24px;
  color: #291B1A;
  margin-bottom: 12px;
  line-height: 150%;
}

ul {
  padding-left: 20px; 
}

footer {
  color: #F0E8C2;
  text-align: center;
  padding-bottom: 48px;
  padding-inline: 20px; 
}



@media (max-width: 700px) {
  #page {
    width: 95%; 
    padding: 24px; 
    margin-top: 20px; 
  }

  h1 {
    font-size: 28px; 
  }

  h2 {
    font-size: 20px;
  }
}